---
import MainHead from './MainHead.astro';
interface Props {
    title?: string;
    description?: string;
}

const {
    title ="My Astro Blog", 
    description = "A blog about Astro"
    } = Astro.props as Props;
---

<html lang="en">
	<MainHead {title} {description} />
	<body>
		<slot />
	</body>
</html>